@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #0b0e14;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1f2530;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2d3545;
}
